.a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#a {
    text-decoration: none;
}

/*Partie des 3 icônes*/

.head {
    background-color: var(--u-tech);

}

.u-tech {
    border-radius: 10%;
    background-color: var(--u-tech);
}





/*-----Contenu-----*/


h2{
    color: var(--u-tech);
}


p {
    padding: 5%;
}

.first {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(u-tech.jpg)no-repeat center;
}

.button {
    background-color: #1b2bff;
    border: #1b2bff solid 2px;
}

.button:hover {
    color: #1b2bff;
}

#taches {
    background: url(u-tech.svg) no-repeat center/cover fixed;
}

#taches li:hover {
    background-color: #415aff;
}

#taches i {
    color: #415aff auto;
}






@media screen and (max-width: 1023px) {

    #taches h1 {
        font-size: 20px;
    }

    #taches h2 {
        font-size: 22px;
    }

    #taches li {
        padding: 20px;
        height: fit-content;
    }

    #taches li:hover {
        height: fit-content;
    }

    #taches i {
        font-size: 25px;
    }

    .ng-link-standalone:hover {
        text-decoration: underline;
    }
}