a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}


/*Partie des 3 icônes*/

.head {
    background-color: var(--u-cons);

}

.u-cons {
    border-radius: 10%;
    background-color: var(--u-cons);
}






/*-----Contenu-----*/


h2{
    color: var(--u-cons);
}

p {
    padding: 5%;
}

.first {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(./images/batiment\ \(1\).jpg)no-repeat center;
}

.button {
    background-color: #d1a300;
    border: #d1a300 solid 2px;
}

.button:hover {
    color: #d1a300;
    border: #d1a300 2px solid;

}

#taches {
    background: url(./images/u-cons.svg) no-repeat center/cover fixed;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#taches li:hover {
    background-color: #ffae00;
}

#taches i {
    color: #ffdd00 auto;
}


#team{
    background: url(./images/u-cons.svg) no-repeat center/cover fixed;
}





@media screen and (max-width: 1023px) {

    #taches h1 {
        font-size: 20px;
    }

    #taches h3 {
        font-size: 22px;
    }

    #taches li {
        height: fit-content;
        font-size: 18px;
        padding: 20px;
    }

    #taches li:hover {
        height: fit-content;
    }

    #taches i {
        font-size: 25px;
    }

    .splide img {
        height: 400px;
        max-width: 200px;
        object-fit: cover;
        padding: 0;
    }


}